Art_Finder.json
{"flowContents":{"identifier":"00bef87a-7031-3bc7-ad8a-a36287600338","instanceIdentifier":"40d8eab0-0197-1000-ffff-ffff9855ab85","name":"Art_Finder","comments":"","position":{"x":475.0,"y":137.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"792de873-8e5b-34eb-b523-a85bda9270c6","instanceIdentifier":"452fe171-fb91-3e4e-819d-24fea9999ebd","name":"InvokeHTTP","comments":"","position":{"x":24.0,"y":1184.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://collectionapi.metmuseum.org/public/collection/v1/search?departmentId=${DepartmentID}&q=*","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"6ee2f1ac-b591-3efc-8ebd-fa32620b3b51","instanceIdentifier":"2204e0dc-28bd-315e-9888-0f7009ede4e8","name":"EvaluateJsonPath","comments":"","position":{"x":264.0,"y":512.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","Null Value Representation":"empty string","DepartmentID":"$['departmentId']","DepartmentDisplayname":"$[\"displayName\"]","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"DepartmentID":{"name":"DepartmentID","displayName":"DepartmentID","identifiesControllerService":false,"sensitive":false},"DepartmentDisplayname":{"name":"DepartmentDisplayname","displayName":"DepartmentDisplayname","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"b9a9665b-c591-3e54-b458-e12eedd25161","instanceIdentifier":"41a1620b-0197-1000-ffff-ffffe47ee8a1","name":"EvaluateJsonPath","comments":"","position":{"x":624.0,"y":2208.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Destination":"flowfile-attribute","Return Type":"auto-detect","image_URL":"$[\"primaryImage\"]","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"image_URL":{"name":"image_URL","displayName":"image_URL","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"f93a66a8-bfc5-35df-b998-8dd0f9d332b1","instanceIdentifier":"46763a9e-0197-1000-0000-00003693f5bb","name":"AttributesToJSON","comments":"","position":{"x":2000.0,"y":2800.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"absolute.hdfs.path","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"7e31691f-ce92-3143-ad96-8266775f56b5","instanceIdentifier":"292423fc-7f29-313d-9443-764b96c57c86","name":"SplitJson","comments":"","position":{"x":32.0,"y":1416.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"95e39137-560d-323f-82a1-b6dab255ad73","instanceIdentifier":"29e61c07-9105-3869-a6e8-8313bb576ca2","name":"InvokeHTTP","comments":"","position":{"x":251.0,"y":37.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":"'Content-Type: application/json'","use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"true","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://collectionapi.metmuseum.org/public/collection/v1/departments","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"4ce0a1bd-09aa-3aee-b70b-b758ee27f062","instanceIdentifier":"45bf3957-f84f-1bf9-ffff-ffffc17bb94f","name":"PutCDPObjectStore","comments":"","position":{"x":2000.0,"y":2584.0},"type":"org.apache.nifi.processors.hadoop.PutCDPObjectStore","bundle":{"group":"com.cloudera","artifact":"nifi-cdf-objectstore-nar","version":"1.0.0.2.1.6.0-323"},"properties":{"kerberos-credentials-service":null,"cdp-storage-location":null,"Kerberos Principal":"admin","writing-strategy":"simpleWrite","Directory":"/artvolume/bucket/${ObjectID}","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"CDP Password","identifiesControllerService":false,"sensitive":true},"cdp-storage-location":{"name":"cdp-storage-location","displayName":"Storage Location","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"CDP Username","identifiesControllerService":false,"sensitive":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"38523376-b589-3cc4-ab32-ff5c496d7a79","instanceIdentifier":"9b233b66-aafc-3214-abf7-c53e259967c5","name":"QueryRecord","comments":"","position":{"x":288.0,"y":824.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"a7c2974b-1db3-3962-a44e-dc84b48a44b6","record-reader":"2e3d6885-9766-3269-bfd9-8e9115ed76eb","include-zero-record-flowfiles":"false","EuropeanArt":"SELECT * FROM FLOWFILE WHERE displayName = 'European Paintings'","dbf-default-scale":"0"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"EuropeanArt":{"name":"EuropeanArt","displayName":"EuropeanArt","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"fc8db188-f247-3f13-ba67-37d3aa7f8eec","instanceIdentifier":"45d7989e-883b-3f2d-b74a-6ed1d6355f01","name":"SplitJson","comments":"","position":{"x":264.0,"y":256.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.*.*"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"b596ada8-f967-3948-a819-c167d05f6c6c","instanceIdentifier":"45bf385f-f84f-1bf9-9a85-f0b861dfe614","name":"PutHBaseCell","comments":"","position":{"x":2016.0,"y":3144.0},"type":"org.apache.nifi.hbase.PutHBaseCell","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Row Identifier":"${ObjectID}","Table Name":"art_info","Row Identifier Encoding Strategy":"String","Batch Size":"25","Column Family":"image","Column Qualifier":"imageOzonePath","HBase Client Service":"5debbb99-87a6-348a-ad27-69a16d1915d8","timestamp":null},"propertyDescriptors":{"Row Identifier":{"name":"Row Identifier","displayName":"Row Identifier","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"Column Qualifier":{"name":"Column Qualifier","displayName":"Column Qualifier","identifiesControllerService":false,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"Timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"3d6aa246-2116-35ce-9a6c-83516fc1311e","instanceIdentifier":"a29b15e4-d1b2-3d3d-ba3b-665792449f65","name":"EvaluateJsonPath","comments":"","position":{"x":24.0,"y":1624.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Destination":"flowfile-attribute","ObjectID":"$","Return Type":"auto-detect","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"ObjectID":{"name":"ObjectID","displayName":"ObjectID","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"ba6ade04-3270-3e48-9930-41b9ba502101","instanceIdentifier":"87879689-2a91-3298-9022-a1a2dbc5a504","name":"LogAttribute","comments":"","position":{"x":976.0,"y":3152.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Log prefix":null,"character-set":"US-ASCII","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"ef5f0655-5534-3fee-8b20-df1bb0a1a5b4","instanceIdentifier":"419e6e90-0197-1000-ffff-ffff8eb38fcf","name":"PutHBaseCell","comments":"","position":{"x":1216.0,"y":2568.0},"type":"org.apache.nifi.hbase.PutHBaseCell","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Row Identifier":"${ObjectID}","Table Name":"art_info","Row Identifier Encoding Strategy":"String","Batch Size":"25","Column Family":"image","Column Qualifier":"imageBig","HBase Client Service":"5debbb99-87a6-348a-ad27-69a16d1915d8","timestamp":null},"propertyDescriptors":{"Row Identifier":{"name":"Row Identifier","displayName":"Row Identifier","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"Column Qualifier":{"name":"Column Qualifier","displayName":"Column Qualifier","identifiesControllerService":false,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"Timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"7efc1a9f-f38c-381d-8913-eff00ede79e0","instanceIdentifier":"41b545a6-0197-1000-0000-0000120af6c6","name":"RouteOnAttribute","comments":"","position":{"x":1936.0,"y":2248.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Routing Strategy":"Route to Property name","ImageSize":"${content-length:gt(50)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"ImageSize":{"name":"ImageSize","displayName":"ImageSize","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"a2e3809d-d3b7-33f9-925d-7877ca06a661","instanceIdentifier":"fb95fe81-4e7a-3219-980a-22981bf4fcae","name":"InvokeHTTP","comments":"","position":{"x":32.0,"y":1848.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://collectionapi.metmuseum.org/public/collection/v1/objects/${ObjectID}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"c5a2b1a4-7c39-3f0c-99ef-f33d8e96ddcc","instanceIdentifier":"40db5b64-0197-1000-0000-0000693fb781","name":"PutHBaseJSON","comments":"","position":{"x":80.0,"y":2624.0},"type":"org.apache.nifi.hbase.PutHBaseJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Row Identifier":"${ObjectID}","Table Name":"art_info","Row Identifier Encoding Strategy":"String","Row Identifier Field Name":null,"Complex Field Strategy":"Text","Batch Size":"25","Column Family":"metadata","Field Encoding Strategy":"String","HBase Client Service":"5debbb99-87a6-348a-ad27-69a16d1915d8","timestamp":null},"propertyDescriptors":{"Row Identifier":{"name":"Row Identifier","displayName":"Row Identifier","identifiesControllerService":false,"sensitive":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"Row Identifier Encoding Strategy":{"name":"Row Identifier Encoding Strategy","displayName":"Row Identifier Encoding Strategy","identifiesControllerService":false,"sensitive":false},"Row Identifier Field Name":{"name":"Row Identifier Field Name","displayName":"Row Identifier Field Name","identifiesControllerService":false,"sensitive":false},"Complex Field Strategy":{"name":"Complex Field Strategy","displayName":"Complex Field Strategy","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Column Family":{"name":"Column Family","displayName":"Column Family","identifiesControllerService":false,"sensitive":false},"Field Encoding Strategy":{"name":"Field Encoding Strategy","displayName":"Field Encoding Strategy","identifiesControllerService":false,"sensitive":false},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false},"timestamp":{"name":"timestamp","displayName":"Timestamp","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"06ad1dd7-14f0-38f4-84b2-9e7579ed151a","instanceIdentifier":"419d9ba4-0197-1000-ffff-ffffbca9e413","name":"InvokeHTTP","comments":"","position":{"x":1208.0,"y":2224.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${image_URL}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"2bbbefab-d274-35d4-8105-66bd40e586c3","instanceIdentifier":"93319cef-6de8-3ca9-9866-677d17480c43","name":"AttributesToJSON","comments":"","position":{"x":24.0,"y":2208.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-attribute","Null Value":"false","Attributes List":"*","Include Core Attributes":"true","JSON Handling Strategy":"ESCAPED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"0f7633a1-ec46-39f9-8c5c-ac21d45f5cf5","instanceIdentifier":"419f8b87-0197-1000-ffff-ffffefc2b2a7","name":"","source":{"id":"ef5f0655-5534-3fee-8b20-df1bb0a1a5b4","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"PutHBaseCell","comments":"","instanceIdentifier":"419e6e90-0197-1000-ffff-ffff8eb38fcf"},"destination":{"id":"ba6ade04-3270-3e48-9930-41b9ba502101","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"LogAttribute","comments":"","instanceIdentifier":"87879689-2a91-3298-9022-a1a2dbc5a504"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"afcd4166-04d2-359b-9f93-41497e57c047","instanceIdentifier":"41b6c2f9-0197-1000-ffff-ffffc69afe7a","name":"","source":{"id":"06ad1dd7-14f0-38f4-84b2-9e7579ed151a","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"InvokeHTTP","comments":"","instanceIdentifier":"419d9ba4-0197-1000-ffff-ffffbca9e413"},"destination":{"id":"7efc1a9f-f38c-381d-8913-eff00ede79e0","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"RouteOnAttribute","comments":"","instanceIdentifier":"41b545a6-0197-1000-0000-0000120af6c6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"bf6aefdf-ff0a-3072-93f9-ce1ce6432a3b","instanceIdentifier":"5987863a-6e9f-3cb0-ad24-ecdf8419ea95","name":"","source":{"id":"95e39137-560d-323f-82a1-b6dab255ad73","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"InvokeHTTP","comments":"","instanceIdentifier":"29e61c07-9105-3869-a6e8-8313bb576ca2"},"destination":{"id":"fc8db188-f247-3f13-ba67-37d3aa7f8eec","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"SplitJson","comments":"","instanceIdentifier":"45d7989e-883b-3f2d-b74a-6ed1d6355f01"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"362194e3-6669-31fb-a170-9e36b8d79e41","instanceIdentifier":"45bf3875-f84f-1bf9-0000-00004c9e7b2d","name":"","source":{"id":"7efc1a9f-f38c-381d-8913-eff00ede79e0","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"RouteOnAttribute","comments":"","instanceIdentifier":"41b545a6-0197-1000-0000-0000120af6c6"},"destination":{"id":"ef5f0655-5534-3fee-8b20-df1bb0a1a5b4","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"PutHBaseCell","comments":"","instanceIdentifier":"419e6e90-0197-1000-ffff-ffff8eb38fcf"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"92f26704-dbba-3499-9e37-b55f3924905e","instanceIdentifier":"40dbb26c-0197-1000-ffff-ffffdccab644","name":"","source":{"id":"c5a2b1a4-7c39-3f0c-99ef-f33d8e96ddcc","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"PutHBaseJSON","comments":"","instanceIdentifier":"40db5b64-0197-1000-0000-0000693fb781"},"destination":{"id":"ba6ade04-3270-3e48-9930-41b9ba502101","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"LogAttribute","comments":"","instanceIdentifier":"87879689-2a91-3298-9022-a1a2dbc5a504"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"de10f8c1-2440-3c97-9721-d38796bd28c9","instanceIdentifier":"46764e28-0197-1000-0000-0000320c131d","name":"","source":{"id":"4ce0a1bd-09aa-3aee-b70b-b758ee27f062","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"45bf3957-f84f-1bf9-ffff-ffffc17bb94f"},"destination":{"id":"f93a66a8-bfc5-35df-b998-8dd0f9d332b1","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"AttributesToJSON","comments":"","instanceIdentifier":"46763a9e-0197-1000-0000-00003693f5bb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"b47ab76b-5415-3503-a0f4-0fb70b3a2fb1","instanceIdentifier":"e4454b63-bab3-373e-9f2c-e6120647164a","name":"","source":{"id":"38523376-b589-3cc4-ab32-ff5c496d7a79","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"QueryRecord","comments":"","instanceIdentifier":"9b233b66-aafc-3214-abf7-c53e259967c5"},"destination":{"id":"792de873-8e5b-34eb-b523-a85bda9270c6","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"InvokeHTTP","comments":"","instanceIdentifier":"452fe171-fb91-3e4e-819d-24fea9999ebd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["EuropeanArt"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"979624ec-f70a-3dcb-a947-7a7f12c3b45f","instanceIdentifier":"45bf3897-f84f-1bf9-ffff-ffff810533cf","name":"","source":{"id":"b596ada8-f967-3948-a819-c167d05f6c6c","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"PutHBaseCell","comments":"","instanceIdentifier":"45bf385f-f84f-1bf9-9a85-f0b861dfe614"},"destination":{"id":"ba6ade04-3270-3e48-9930-41b9ba502101","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"LogAttribute","comments":"","instanceIdentifier":"87879689-2a91-3298-9022-a1a2dbc5a504"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"369ac242-d5a4-34bb-86f5-70633184cf44","instanceIdentifier":"5661d58c-7e5a-3458-842d-89ccc02c8222","name":"","source":{"id":"792de873-8e5b-34eb-b523-a85bda9270c6","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"InvokeHTTP","comments":"","instanceIdentifier":"452fe171-fb91-3e4e-819d-24fea9999ebd"},"destination":{"id":"7e31691f-ce92-3143-ad96-8266775f56b5","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"SplitJson","comments":"","instanceIdentifier":"292423fc-7f29-313d-9443-764b96c57c86"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"dd234a53-4066-397c-8f47-3dfb6e40484d","instanceIdentifier":"180be8bd-17e7-3b24-8c89-79513d440992","name":"","source":{"id":"6ee2f1ac-b591-3efc-8ebd-fa32620b3b51","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"2204e0dc-28bd-315e-9888-0f7009ede4e8"},"destination":{"id":"38523376-b589-3cc4-ab32-ff5c496d7a79","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"QueryRecord","comments":"","instanceIdentifier":"9b233b66-aafc-3214-abf7-c53e259967c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"57082783-0b7d-3a78-b0be-e8ff7ccce13d","instanceIdentifier":"41a1af1b-0197-1000-ffff-ffff9260d11b","name":"","source":{"id":"b9a9665b-c591-3e54-b458-e12eedd25161","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"41a1620b-0197-1000-ffff-ffffe47ee8a1"},"destination":{"id":"06ad1dd7-14f0-38f4-84b2-9e7579ed151a","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"InvokeHTTP","comments":"","instanceIdentifier":"419d9ba4-0197-1000-ffff-ffffbca9e413"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"62389460-2c43-3136-b872-75f256c1106d","instanceIdentifier":"9681ccd6-e04e-38e8-9ff5-d9407a220d9b","name":"","source":{"id":"3d6aa246-2116-35ce-9a6c-83516fc1311e","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a29b15e4-d1b2-3d3d-ba3b-665792449f65"},"destination":{"id":"a2e3809d-d3b7-33f9-925d-7877ca06a661","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"InvokeHTTP","comments":"","instanceIdentifier":"fb95fe81-4e7a-3219-980a-22981bf4fcae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"abec79c5-48d1-3a31-823f-340bda80295f","instanceIdentifier":"4e6828ad-0e82-3b71-af22-9ff5f54e28a8","name":"","source":{"id":"7e31691f-ce92-3143-ad96-8266775f56b5","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"SplitJson","comments":"","instanceIdentifier":"292423fc-7f29-313d-9443-764b96c57c86"},"destination":{"id":"3d6aa246-2116-35ce-9a6c-83516fc1311e","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"a29b15e4-d1b2-3d3d-ba3b-665792449f65"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"a568b4b3-e9bc-32a4-942d-6ba92aa87e5d","instanceIdentifier":"46765daa-0197-1000-ffff-ffff928d34c7","name":"","source":{"id":"f93a66a8-bfc5-35df-b998-8dd0f9d332b1","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"AttributesToJSON","comments":"","instanceIdentifier":"46763a9e-0197-1000-0000-00003693f5bb"},"destination":{"id":"b596ada8-f967-3948-a819-c167d05f6c6c","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"PutHBaseCell","comments":"","instanceIdentifier":"45bf385f-f84f-1bf9-9a85-f0b861dfe614"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"8a2ee685-3083-3c40-b5c0-04696e900570","instanceIdentifier":"0fee7758-f11d-3375-ad71-7572b2d447a5","name":"","source":{"id":"a2e3809d-d3b7-33f9-925d-7877ca06a661","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"InvokeHTTP","comments":"","instanceIdentifier":"fb95fe81-4e7a-3219-980a-22981bf4fcae"},"destination":{"id":"2bbbefab-d274-35d4-8105-66bd40e586c3","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"AttributesToJSON","comments":"","instanceIdentifier":"93319cef-6de8-3ca9-9866-677d17480c43"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"cafb156a-c75b-337d-9e7a-eaf7ded81bfe","instanceIdentifier":"463ccc6c-0197-1000-0000-00007349e895","name":"","source":{"id":"7efc1a9f-f38c-381d-8913-eff00ede79e0","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"RouteOnAttribute","comments":"","instanceIdentifier":"41b545a6-0197-1000-0000-0000120af6c6"},"destination":{"id":"4ce0a1bd-09aa-3aee-b70b-b758ee27f062","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"PutCDPObjectStore","comments":"","instanceIdentifier":"45bf3957-f84f-1bf9-ffff-ffffc17bb94f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["ImageSize"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"547f5b67-3b09-3903-965d-63b493bfc7a6","instanceIdentifier":"419669c5-0197-1000-0000-00003498cf1e","name":"","source":{"id":"2bbbefab-d274-35d4-8105-66bd40e586c3","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"AttributesToJSON","comments":"","instanceIdentifier":"93319cef-6de8-3ca9-9866-677d17480c43"},"destination":{"id":"c5a2b1a4-7c39-3f0c-99ef-f33d8e96ddcc","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"PutHBaseJSON","comments":"","instanceIdentifier":"40db5b64-0197-1000-0000-0000693fb781"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"9ef264e0-8503-314b-aac2-3ed41ccfc8ac","instanceIdentifier":"41a1787a-0197-1000-ffff-ffffcf3fc59e","name":"","source":{"id":"2bbbefab-d274-35d4-8105-66bd40e586c3","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"AttributesToJSON","comments":"","instanceIdentifier":"93319cef-6de8-3ca9-9866-677d17480c43"},"destination":{"id":"b9a9665b-c591-3e54-b458-e12eedd25161","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"41a1620b-0197-1000-ffff-ffffe47ee8a1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"b5542ecc-f486-32bd-a2ac-10447be75942","instanceIdentifier":"b66d3496-e033-344e-b403-4fccb666c284","name":"","source":{"id":"fc8db188-f247-3f13-ba67-37d3aa7f8eec","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"SplitJson","comments":"","instanceIdentifier":"45d7989e-883b-3f2d-b74a-6ed1d6355f01"},"destination":{"id":"6ee2f1ac-b591-3efc-8ebd-fa32620b3b51","type":"PROCESSOR","groupId":"00bef87a-7031-3bc7-ad8a-a36287600338","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"2204e0dc-28bd-315e-9888-0f7009ede4e8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"}],"labels":[{"identifier":"d07fb30a-f7c0-3b58-a859-e79e16c02723","instanceIdentifier":"59f03e0e-646b-1c7a-8c57-e556349d4f75","position":{"x":1936.0,"y":3096.0},"label":"Add Image Path to HBase Cell\n\n","zIndex":0,"width":512.0,"height":248.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"a2bb5560-7c72-3a21-8dd0-631807765f99","instanceIdentifier":"c62babd2-514e-3f5c-a639-e74d413bce37","position":{"x":-216.0,"y":2576.0},"label":"Prepare Metadata As JSON & Write To Hbase\n\n","zIndex":0,"width":680.0,"height":272.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"2f42d878-dd05-30ee-82b1-6fe600280280","instanceIdentifier":"ff79e292-6f73-391e-8ee9-604ea9f8d001","position":{"x":-344.0,"y":2184.0},"label":"Find Gather Metadata for All European Painting Objects\n\n","zIndex":0,"width":760.0,"height":256.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"62eb88f8-194f-3b7b-abe5-61e3ca001f4b","instanceIdentifier":"0c55f6e7-9d49-34c7-a271-d9b52d6f5e70","position":{"x":-88.0,"y":976.0},"label":"Find Department ID For European Painting \n","zIndex":0,"width":552.0,"height":168.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"0a0e7ca6-38e6-3f26-83bb-32f61d7772fe","instanceIdentifier":"ad6c8ca4-6bcc-3db0-96da-085871bb43bf","position":{"x":-352.0,"y":1168.0},"label":"Find Object IDs For All European Painting \n","zIndex":0,"width":776.0,"height":432.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"210a4570-7ebd-33f8-8bac-0a781d3e1d11","instanceIdentifier":"8b8a3037-6266-116b-b184-5f1bdeafd41f","position":{"x":1152.0,"y":2528.0},"label":"Add Image to HBase Cell\n\n","zIndex":0,"width":456.0,"height":248.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"3ed22b2f-896e-3ab5-aa2c-d7ee02b2a7be","instanceIdentifier":"b0abd6ab-9796-3f78-b15c-1a1ea5979c41","position":{"x":168.0,"y":8.0},"label":"Art Catalog Search - Find Departments\n","zIndex":0,"width":456.0,"height":168.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"06356e0e-4f61-3cbf-9303-88f5dd81742d","instanceIdentifier":"5d99134e-412f-3b64-9597-ad147ff6a618","position":{"x":72.0,"y":488.0},"label":"Add Department Name And ID To Attribute List\n","zIndex":0,"width":560.0,"height":232.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"9a29bd75-8cc4-35f3-bc2a-5f1f6dda94d6","instanceIdentifier":"467dd22f-0197-1000-0000-00002d0b06e2","position":{"x":1912.0,"y":2224.0},"label":"Route based on Image Size","zIndex":0,"width":496.0,"height":272.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"084dc250-8c3b-33f1-9967-d3250f154241","instanceIdentifier":"467e469a-0197-1000-0000-00002445fa0c","position":{"x":1920.0,"y":2560.0},"label":"Store Image in Ozone File Store","zIndex":0,"width":488.0,"height":440.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"7c1d04b9-9313-3124-9116-caeffa7affb4","instanceIdentifier":"d0239b3b-9395-3864-8f89-a2e68fb416ea","position":{"x":-344.0,"y":1840.0},"label":"Find Object IDs For All European Painting \n","zIndex":0,"width":768.0,"height":216.0,"style":{"font-size":"14px"},"componentType":"LABEL","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"}],"funnels":[],"controllerServices":[{"identifier":"e7afe033-0044-3a61-a6f8-2c561bb2f566","instanceIdentifier":"46065aa1-0197-1000-0000-00007d4cc19e","name":"KeytabCredentialsService","type":"org.apache.nifi.kerberos.KeytabCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-credentials-service-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Kerberos Keytab":null,"Kerberos Principal":null},"propertyDescriptors":{"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"5debbb99-87a6-348a-ad27-69a16d1915d8","instanceIdentifier":"40e0a615-0197-1000-0000-000051678f83","name":"HBase_2_ClientService","comments":"","type":"org.apache.nifi.hbase.HBase_2_ClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_2-client-service-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"kerberos-credentials-service":null,"Kerberos Keytab":null,"ZooKeeper Quorum":null,"ZooKeeper Client Port":null,"ZooKeeper ZNode Parent":null,"Kerberos Principal":"admin","HBase Client Retries":"1","kerberos-user-service":null,"Hadoop Configuration Files":"/etc/hbase/conf/hbase-site.xml, /etc/hbase/conf/core-site.xml","Phoenix Client JAR Location":null},"propertyDescriptors":{"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"ZooKeeper Quorum":{"name":"ZooKeeper Quorum","displayName":"ZooKeeper Quorum","identifiesControllerService":false,"sensitive":false},"ZooKeeper Client Port":{"name":"ZooKeeper Client Port","displayName":"ZooKeeper Client Port","identifiesControllerService":false,"sensitive":false},"ZooKeeper ZNode Parent":{"name":"ZooKeeper ZNode Parent","displayName":"ZooKeeper ZNode Parent","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"HBase Client Retries":{"name":"HBase Client Retries","displayName":"HBase Client Retries","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"Hadoop Configuration Files":{"name":"Hadoop Configuration Files","displayName":"Hadoop Configuration Files","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Phoenix Client JAR Location":{"name":"Phoenix Client JAR Location","displayName":"Phoenix Client JAR Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","URL","DIRECTORY"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"a7c2974b-1db3-3962-a44e-dc84b48a44b6","instanceIdentifier":"c602ea01-a44a-3acf-9b49-56180c60a97a","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"689e63c1-16a2-3112-a9cb-e03c1d240bba","instanceIdentifier":"3b3ad554-0197-1000-ffff-ffffa144241a","name":"Default NiFi SSL Context Service","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/var/lib/nifi/truststore.jks","Keystore Filename":"/var/lib/nifi/keystore.jks"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"40d8eab0-0197-1000-ffff-ffff9855ab85"},{"identifier":"d24ef116-db2b-3fe3-bf21-3e96f2f86e0f","instanceIdentifier":"84636014-6cae-3a3c-b777-f1b002acd35a","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Truststore Type":null,"SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":null,"Keystore Filename":"/etc/ssl/certs/java/cacerts"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"},{"identifier":"2e3d6885-9766-3269-bfd9-8e9115ed76eb","instanceIdentifier":"6e4b7609-abcc-3aef-b178-58622871890f","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"00bef87a-7031-3bc7-ad8a-a36287600338"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}